#{extends 'main.html' /}
<!--#{set title:'Home' /}-->

<!--#{welcome /}-->
<div class="container">
	<div class="row">
	<div class="col-lg-9 col-md-9 visible-md visible-lg">
	 <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        	<h1>
        		Gérer facilement les tâches à faire.
        	</h1>
        	<img src="/public/images/screenshot-task.jpg" 
        		 alt="First slide">
        </div>
        <div class="item">
            <h1>
        		Ecrivez vos rapports de réunions
        	</h1>
        	<img src="/public/images/screenshot-doc.jpg" 
        		 alt="First slide">
        </div>
        <div class="item">
        	<h1>
        		Consulter les statistiques du projet
        	</h1>
        	<img src="/public/images/screenshot-chart.jpg" 
        		 alt="First slide">
        </div>
      </div>
    </div><!-- /.carousel -->
	</div>
	<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
		#{form @User.register()}
		    <fieldset>
		        <legend>Sign up</legend>
		        <div class="input-group">
		            <label for="email">Email</label>:
		            <input id="email" name="email"
		                   type="text" class="form-control"
		                   placeholder="User email" value="${email}">
		        </div>
		        <div class="input-group">
		            <label for="name">Name</label>:
		            <input id="name" name="name" type="text"
		                   class="form-control" placeholder="Name"
		                   value="${name}"/>
		        </div>
		        <div class="input-group">
		            <label for="firstname">First name</label>:
		            <input id="firstname" name="firstname" type="text"
		                   class="form-control" placeholder="First name" 
		                   value="${firstname}"/>
		        </div>
		        <div class="input-group">
		            <label for="password">Password</label>:
		            <input id="password" name="firstPassword" type="password"
		                   class="form-control" placeholder="Password" 
		                   value="${firstPassword}"/>
		        </div>
		        <div class="input-group">
		            <label for="password">Password Verification</label>:
		            <input id="password" name="secondPassword" type="password"
		                   class="form-control" placeholder="Password"
		                   value="${secondPassword}"/>
		        </div>
		        <input class="btn btn-lg btn-primary btn-block" id="signup" type="submit"
		                    value="Sign up"/>
		    </fieldset>
		    #{ifErrors}
		    <div class="alert alert-danger">The following fields are invalid : 	    			
   			#{errors}
       		<label>${error},</label>
   			#{/errors} 
   			</div>
			#{/ifErrors}
		#{/form}
	</div>
	</div>
</div>

#{script 'jquery-ui.min.js' /} #{script 'jquery.checkform1.2.js' /} #{script 'login.js' /}
