#{extends 'main.html' /}
<!--#{set title:'Home' /}-->

<!--#{welcome /}-->
<div class="container">
	<div class="col-md-3 col-md-offset-2">
		#{form @Secure.authenticate()}
			#{if flash.error}
				<p class="error">
					&{flash.error}
				</p>
			#{/if}
			#{if flash.success}
				<p class="success">
					&{flash.success}
				</p>
			#{/if}
		    <fieldset>
		        <legend>Sign in</legend>
		        <p id="username-field">
					<label for="username">E-mail</label>
					<input class="form-control" type="text" name="username" id="username" value="${flash.username}" placeholder="Email"/>
				</p>
				<p id="password-field">
					<label for="password">&{'secure.password'}</label>
					<input class="form-control" type="password" name="password" id="password" value="" placeholder="Password"/>
				</p>

		        <p id="signin-field">
					<input class="btn btn-lg btn-primary btn-block" type="submit" id="signin" value="&{'secure.signin'}" />
				</p>
		    </fieldset>
		#{/form}
	</div>
	<div class="col-md-3 col-md-offset-2">
		#{form @User.register()}
		    <fieldset>
		        <legend>Sign up</legend>
		        <div class="input-group">
		            <label for="email">Email</label>:
		            <input id="email" name="email"
		                   type="text" class="form-control"
		                   placeholder="User email" value="${email}">
		        </div>
		        <div class="input-group">
		            <label for="name">Name</label>:
		            <input id="name" name="name" type="text"
		                   class="form-control" placeholder="Name"
		                   value="${name}"/>
		        </div>
		        <div class="input-group">
		            <label for="firstname">First name</label>:
		            <input id="firstname" name="firstname" type="text"
		                   class="form-control" placeholder="First name" 
		                   value="${firstname}"/>
		        </div>
		        <div class="input-group">
		            <label for="password">Password</label>:
		            <input id="password" name="firstPassword" type="password"
		                   class="form-control" placeholder="Password" 
		                   value="${firstPassword}"/>
		        </div>
		        <div class="input-group">
		            <label for="password">Password Verification</label>:
		            <input id="password" name="secondPassword" type="password"
		                   class="form-control" placeholder="Password"
		                   value="${secondPassword}"/>
		        </div>
		        <input class="btn btn-lg btn-primary btn-block" id="signup" type="submit"
		                    value="Sign up"/>
		    </fieldset>
		    #{ifErrors}
		    <div class="alert alert-danger">The following fields are invalid : 	    			
   			#{errors}
       		<label>${error},</label>
   			#{/errors} 
   			</div>
			#{/ifErrors}
		#{/form}
	</div>
</div>
