#{extends 'main.html' /}
<!--#{set title:'Home' /}-->

<!--#{welcome /}-->
<div class="container">
	<div class="col-md-9">
	 <div id="myCarousel" class="carousel" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/public/images/screenshot-task.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Gérer facilement les tâches à faire.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
<!--       <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> -->
<!--       <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> -->
    </div><!-- /.carousel -->
	</div>
	<div class="col-md-3">
		#{form @User.register()}
		    <fieldset>
		        <legend>Sign up</legend>
		        <div class="input-group">
		            <label for="email">Email</label>:
		            <input id="email" name="email"
		                   type="text" class="form-control"
		                   placeholder="User email" value="${email}">
		        </div>
		        <div class="input-group">
		            <label for="name">Name</label>:
		            <input id="name" name="name" type="text"
		                   class="form-control" placeholder="Name"
		                   value="${name}"/>
		        </div>
		        <div class="input-group">
		            <label for="firstname">First name</label>:
		            <input id="firstname" name="firstname" type="text"
		                   class="form-control" placeholder="First name" 
		                   value="${firstname}"/>
		        </div>
		        <div class="input-group">
		            <label for="password">Password</label>:
		            <input id="password" name="firstPassword" type="password"
		                   class="form-control" placeholder="Password" 
		                   value="${firstPassword}"/>
		        </div>
		        <div class="input-group">
		            <label for="password">Password Verification</label>:
		            <input id="password" name="secondPassword" type="password"
		                   class="form-control" placeholder="Password"
		                   value="${secondPassword}"/>
		        </div>
		        <input class="btn btn-lg btn-primary btn-block" id="signup" type="submit"
		                    value="Sign up"/>
		    </fieldset>
		    #{ifErrors}
		    <div class="alert alert-danger">The following fields are invalid : 	    			
   			#{errors}
       		<label>${error},</label>
   			#{/errors} 
   			</div>
			#{/ifErrors}
		#{/form}
	</div>
</div>
