#{extends 'main.html' /} 
#{set title:'Ajouter exigence' /}
#{stylesheet 'create.css' /}
#{stylesheet 'requirement-add.css' /}
<h1 class="page-header">Ajouter une exigence à : ${session.productName}</h1>
#{form @Requirement.register()}
	<div class="row">
		<div class="col-lg-4">
			<label for="req1">Exigences</label>
		</div>		
		<div class="col-lg-4">
			<label for="priority">Priorité</label>
		</div>				
		<div class="col-lg-4">
			<label for="duration">Durée</label>
		</div>
		
	</div>	
	<div class="row">
		<div class="col-lg-4">
			<input 	id="req1" name="requirements[]" type="text" 
						class="form-control requirement-req"
						placeholder="Ajouter une exigence" value=""/>
		</div>
		<div class="col-lg-4">
				<select disabled="disabled" name="priority" class="slider-priority form-control input-xs" id="req-priority-1">
					<option selected="selected">1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
		</div>
		<div class="col-lg-4">
			<select name="duration" class="slider-duration form-control input-xs" id="req-duration-1">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option selected="selected">4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
				</select>
		</div>				
	</div>										
	<div class="row">
		<div id="submit" class="col-lg-12">			
			<input type="submit" class="btn-lg btn btn-success"
				value="Nouvelles exigences" />
		</div>
	</div>
#{/form}		
#{script 'jquery-ui.min.js' /} #{script 'requirement-add.js' /}
