body {
	padding-top:60px;
}
h1.page-header,h2.page-header {
	margin-top:0 ;
}
input[type="submit"], button{
	display:block;
	margin:auto;	
	margin-top:1em;
}

/* Styles for flash messages*/
div.flash {
    z-index:210892;
    width:100%;
    padding-left:5%;
    padding-top:20px;
    padding-bottom:20px;    
    border-radius:5px 5px 5px 5px;
    color: #FFF;
}
div.flash.window {
	position:fixed;
    bottom:0px;
    left:0px;
    border-radius:5px 5px 0px 0px;
}
div.flash.flashAlert{
    background-color: #ff782b;/*Pour les navigateurs ne reconnaissant pas le dégradé*/
    background-image:-moz-linear-gradient(#ffc76f,#FFA673); 
}
div.flash.flashError{
    background-color: #fe1611;/*Pour les navigateurs ne reconnaissant pas le dégradé*/
    background-image:-moz-linear-gradient(#ff8686,#fe1611);
}
div.flash.flashValidation{
    background-color: #55ae3b;/*Pour les navigateurs ne reconnaissant pas le dégradé*/
    background-image:-moz-linear-gradient(#ace469,#55ae3b);
}
div.flash.flashInformation{
    background-color: #00B7E9;/*Pour les navigateurs ne reconnaissant pas le dégradé*/
    background-image:-moz-linear-gradient(#52a9ff,#00B7E9);
}
a.flash-close{
    position:relative;
    color:#fff;
    text-decoration: none;
    -moz-border-radius:2px;
    text-align: center;
    float:right;
    margin-right: 10px;
    font-size: 1.4em;
    -moz-opacity:0.8;
    padding:2px;
}
a.flash-close:hover{
    background-color: #d2d2d2;
}
/* Fin des styles des messages flashs*/
@media (max-width: 992px){
	#schema {
		width:100% !important;	
	}
}
/* Carousel style */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    background-color: #777777;
    height: 500px;
}
.carousel-inner > .item  img {
    height: 400px !important;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
}
.carousel-inner > .item {
	text-align: center;
}
.carousel-inner > .item > h1 {
	padding-top:0.5em;
	color:#FFF;
    height: 100px;
    left: 0;
    min-width: 100%;
    position: absolute;
    bottom: 0 !important;
}
.carousel-inner .item .container {
	margin:0;
	position: absolute !important;
	top:500px !important;
	left:0 !important;
}
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}
.featurette-divider {
    margin: 80px 0;
}
.featurette-heading {
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
}
@media (min-width: 768px) {
.marketing {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper {
    margin-top: 20px;
}
.navbar-wrapper .container {	
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    border-radius: 4px;
}
.carousel-caption p {
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.carousel-inner .item {
	position: relative;
}
.featurette-heading {
    font-size: 50px;
}
}
@media (min-width: 992px) {
.featurette-heading {
    margin-top: 120px;
}
}
/*End of carousel style */