body {
	padding-top:60px;
}
h1.page-header,h2.page-header {
	margin-top:0 ;
}
input[type="submit"], button{
	display:block;
	margin:auto;	
	margin-top:1em;
}

/* Styles for flash messages*/
div.flash {
    z-index:210892;
    width:100%;
    padding-left:5%;
    padding-top:20px;
    padding-bottom:20px;    
    border-radius:5px 5px 5px 5px;
    color: #FFF;
}
div.flash.window {
	position:absolute;
    bottom:0px;
    left:0px;
    border-radius:5px 5px 0px 0px;
}
div.flash.flashAlert{
    background-color: #ff782b;/*Pour les navigateurs ne reconnaissant pas le dégradé*/
    background-image:-moz-linear-gradient(#ffc76f,#FFA673); 
}
div.flash.flashError{
    background-color: #fe1611;/*Pour les navigateurs ne reconnaissant pas le dégradé*/
    background-image:-moz-linear-gradient(#ff8686,#fe1611);
}
div.flash.flashValidation{
    background-color: #55ae3b;/*Pour les navigateurs ne reconnaissant pas le dégradé*/
    background-image:-moz-linear-gradient(#ace469,#55ae3b);
}
div.flash.flashInformation{
    background-color: #00B7E9;/*Pour les navigateurs ne reconnaissant pas le dégradé*/
    background-image:-moz-linear-gradient(#52a9ff,#00B7E9);
}
a.flash-close{
    position:relative;
    color:#fff;
    text-decoration: none;
    -moz-border-radius:2px;
    text-align: center;
    float:right;
    margin-right: 10px;
    font-size: 1.4em;
    -moz-opacity:0.8;
    padding:2px;
}
a.flash-close:hover{
    background-color: #d2d2d2;
}
/* Fin des styles des messages flashs*/