ul.sortable li {
	margin:0;
	list-style: none;
	cursor: move;
	list-style: none;
	width:100%;
	font-size:0.9em;
	margin-bottom:0.2em;
}
ul.sortable {
	padding:0;
	min-height: 10em;
	background-color:red;
	widht:100%
}