/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
ul.task-section {
	min-height: 10em;	
}
ul.task-section li.sticker {
	list-style: none;
	display:block;
	
}
.sticker{
	height:5em;
    padding:0.5em;
    margin-bottom: 1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -o-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform:rotate(-1deg);
  	-o-transform:rotate(-1deg);
  	-moz-transform:rotate(-1deg);
  	cursor:move;
}
ul.task-section#todo-list .sticker {
	background-color: #FFF999;
}
ul.task-section#inpg-list .sticker{
	background-color: #8CFFF7;
}
ul.task-section#tobeverified-list .sticker{
	background-color: #FF9854;
}
ul.task-section#done-list .sticker{
    background-color: #9BFF6D;
}
.sticker h3{
    font-size:1.2em;
    text-decoration: underline;
    font-family:arial,sans-serif;
}
 
.sticker p{
    font-size: 1em;
    font-family:Reenie Beanie,arial,sans-serif;
    font-size:2em;
}