#{extends 'main.html' /} #{set title:'My dashboard' /}
#{stylesheet 'create.css' /}
<h1 class="page-header">Création d'un nouveau produit</h1>

<div class="row">
	<div class="col-md-8 col-xs-10 col-md-offset-2 col-xs-offset-1">
		<form action="#">
			<div class="input-group">
				<label for="name">Nom du projet</label> <input id="name" type="text"
					class="form-control" placeholder="Nom du projet">
			</div>
			<div class="input-group">
				<label for="description">Description du projet</label>
				<textarea id="description" class="form-control" rows="10" cols="80"
					placeholder="Description"></textarea>
			</div>
			<div class="input-group">
				<label for="description">Scrum master</label>
				<input type="text" class="form-control"/>
			</div>
			<div class="input-group">
				<label for="description">Interlocuteur client</label>
				<input type="text" class="form-control"/>
			</div>
			<label for="sprint-duration">Duree de sprint (en semaine)</label> <select
				name="sprint-duration" id="sprint-duration">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option selected="selected">4</option>
				<option>5</option>
			</select>

			<div class="input-group">
				<input id="name" name="idDeveloppers[]" type="text" class="form-control product-dev"
					placeholder="Ajouter un développeur">
			</div>			
			<input type="submit" class="btn-lg btn btn-success"
				value="Nouveau produit" />
		</form>
	</div>
</div>

#{script 'jquery-ui.min.js' /} #{script 'create.js' /}
