#{extends 'dashboard.html' /}
#{set title:'Mon profil' /}
<!-- User profile page -->
<h2 class="page-header"><span class="glyphicon glyphicon-user"></span> Mon profil</h2>

<!-- Tab containing all informations of a user -->
<table class="table table-bordered">
  		<tbody>
  			<tr>
  				<td>Nom</td>
  				<td>${user.name}</td>
  			</tr>
  			<tr>
  				<td>Prénom</td>
  				<td>${user.firstName}</td>
  			</tr>
  			<tr>
  				<td>Adresse e-mail</td>
  				<td>${user.email}</td>
  			</tr>
  			<tr>
  				<td>Compétences</td>
  				<td>
  				<!-- If user doesn't have skills, purpose to link account with LinkedIn -->
  				#{if user.skills}
		  			#{list user.skills, as:'s'}
		  				<span class="badge">${s.name}</span>
		  			#{/list}
	  			#{/if}
	  			#{else}
	  				#{linkedin.button label:'Aucune compétences : lier mon compte à LinkedIn' /}
	  			#{/else}
	  			</td>
  			</tr>
  		</tbody>
</table>
