#{extends 'dashboard.html' /} #{set title:'Ajouter release' /}
#{stylesheet 'create.css' /} #{stylesheet 'version-add.css' /}
<h2 class="page-header"><span class="glyphicon glyphicon-bookmark"></span> Ajouter une release à 
	${session.productName}</h2>
#{form @Version.register()}
<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<label for="req1">Nom de la release</label> <input id="release"
				name="release" type="text" class="form-control"
				placeholder="Nom de la release" value="${release}" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<label for="req1">Nombre de sprints</label> 
		<select name="nbSprints"
			class="slider-nbSprints form-control input-xs" id="nbSprints">
			#{list items:1..10, as:'i'}
				#{if i == nbSprints}
					<option selected="selected">
				#{/if}
				#{else}
					<option>
				#{/else}
    				${i}
    			</option>
			#{/list}
		</select>
	</div>
</div>
<div class="row">
	<div id="submit" class="col-lg-12">
		<input id="requirement-register" type="submit" class="btn-lg btn btn-success"
			value="Nouvelle release" />
	</div>
</div>
#{ifErrors}
<div class="alert alert-danger">
	The following fields are invalid : 
	#{errors} <label>${error},</label>
	#{/errors}
</div>
#{/ifErrors} #{/form}
#{script 'jquery-ui.min.js' /}
#{script 'version-add.js' /}
