#{extends 'dashboard.html' /} 
#{set title:'Chart' /}
#{stylesheet 'chart.css' /}

#{script 'chart.js' /}
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>

<h1 class="page-header"><span class="glyphicon glyphicon-stats"></span> Répartition des exigences de ${session.productName}</h1>
<div id="chartdiv"></div>


