#{extends 'dashboard.html' /} 
#{set title:'Nouveau document' /}
#{stylesheet 'jquery-te-1.4.0.css' /}
#{stylesheet 'document-create.css' /}
<h2 class="page-header">Création d'un nouveau document</h2>
<!-- Create document form -->
#{form @Document.save()}
	<div class="row">
		<!-- Select type of the document -->
		<div class="col-lg-8">
			<label for="document-type">Quel type de document ?</label>
			<select id="document-type" name="type" class="form-control">
				<option value="review">Revue de sprint</option>
				<option value="retrospective">Rétrospective de sprint</option>
				<option value="daily">Réunion quotidienne </option>
			</select>
		</div>
		<!-- Save the document -->
		<div class="col-lg-4">
			<input type="submit" class="btn btn-success btn-lg" value="Sauvegarder le document"/>
		</div>
	</div>
	<!-- Content of the document -->
	<div class="row">
		<div class="col-lg-12">
			<textarea name="document" id="document" class="form-constrol" rows="100"
					  cols="80"></textarea>
		</div>
	</div>
#{/form}
#{script 'jquery-te-1.4.0.min.js' /} #{script 'document-create.js' /}
