#{extends 'dashboard.html' /} 
#{set title:'Documents' /}
<h1><span class="glyphicon glyphicon-file"></span>Liste des documents du sprint</h1>
#{list documents, as:'d'}
	<div class="panel panel-info">
	  <div class="panel-heading">${d.getDocumentType()} du ${d.getDate()}</div>
	  <div class="panel-body">
	    ${d.getContent().replace("<script","&lt;script&gt;")
	    				.replace("</script>","&lt;script&gt;").raw()}
	  </div>
	  <div class="panel-footer">${d.getAuthor().getEmail()}</div>
	</div>
#{/list}


