#{extends 'dashboard.html' /}
#{set title:'My dashboard' /}
#{stylesheet 'dashboard.css' /}
#{script 'jquery-ui.min.js' /}
#{stylesheet 'sticker.css' /}

<h2 class="page-header"><span class="glyphicon glyphicon-th"></span> Tableau des tâches</h2>
<div class=container-fluid>
	<div class="scrum-cols row">
		<div class="scrum-col col-md-3">A faire
			<div class="sticker sticker-yellow">
				Finir le css  <span class="badge">42</span>
			</div>
			<div class="sticker sticker-yellow">
				Finir le css  <span class="badge">42</span>
			</div>
		</div>          			
		<div class="scrum-col col-md-3">
			En cours<div class="sticker sticker-blue">Finir le css</div>
		</div>
		<div class="scrum-col col-md-3">
			A vérifier
			<div class="sticker sticker-orange">Finir le css</div>
		</div>
		<div class="scrum-col col-md-3">Fait
			<div class="sticker sticker-green">Finir le css</div>
		</div>
	</div>
</div>
#{script 'sticker.js' /}
