#{extends 'main.html' /}
#{set title:'My dashboard' /}
#{stylesheet 'dashboard.css' /} 
#{script 'jquery-ui.min.js' /} 
#{stylesheet 'sticker.css' /}
#{stylesheet 'tree.css' /} 
#{script 'tree.js' /}
#{script 'dashboard.js' /}

<!-- Template of left menu used everywhere on the application -->
<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<!-- Two tabs : menu and product tree -->
	<div id="navigation" class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-tabs" id="tabs">
			<li class="active"><a href="#menu" data-toggle="tab">Menu</a></li>
			<li><a title="Consulter l'arbre produit" href="#tree" data-toggle="tab">Produit</a></li>
		</ul>
		<div class="tab-content">
			<!-- Menu containing all functionalities of scrumch -->
			<div class="tab-pane active" id="menu">
				<ul class="nav nav-sidebar">
					<!-- Rights verification for each item -->
					<li><a class="glyphicon glyphicon-th"
						href="@{Sprint.progression}"> Tableau des taches</a></li>
					<li class="${controllers.AccessRules.cssAccessPO()}">
						<a id="requirement-add"
							class="glyphicon glyphicon-paperclip" href="@{Requirement.add}">
								Ajouter des exigences 
						</a>
					</li>
					<li class="${controllers.AccessRules.cssAccessDevOrPO()}"><a id="task-add" class="active glyphicon glyphicon-pushpin" href="@{Task.add}">
							Ajouter une tache</a></li>
					<li class="${controllers.AccessRules.cssAccessPO()}"><a id="version-add" class="glyphicon glyphicon-bookmark" href="@{Version.add}">
							Ajouter une release</a></li>
					<li class="${controllers.AccessRules.cssAccessDev()}"><a id="requirement-order" class="glyphicon glyphicon-sort"
						href="@{Requirement.order}"> Changer la priorité des exigences</a>
					</li>
					<li class="${controllers.AccessRules.cssAccessDevOrPO()}"><a class="glyphicon glyphicon-map-marker" href="@{Requirement.assign}">
							Associer une exigence à ce sprint</a></li>
					<li class="${controllers.AccessRules.cssAccessPO()}" class="${controllers.AccessRules.cssAccessPO()}"><a id="document-create" class="glyphicon glyphicon-pencil" href="@{Document.create}"> Ecrire
							un rapport</a></li>
					<li class="${controllers.AccessRules.cssAccessAll()}">
						<a id="document-show" 
						   class="glyphicon glyphicon-eye-open" href="@{Document.show}">
							Consulter rapport
						</a>
					</li>
					<li class="${controllers.AccessRules.cssAccessSMOrPO()}"><a class="glyphicon glyphicon-stats" href="@{Document.chart}">
							Statistiques</a></li>
				</ul>
			</div><!-- End of menu tab -->
			<!-- Product tree which we can select a release and a sprint -->
			<div class="tab-pane " id="tree">
				#{if productContent}
				<div class="tree hiddable">
					<ul>
						<!-- Display of releases and sprints of each of the current product -->
						#{list productContent.keySet(), as:'key'}
						<li><span class="glyphicon glyphicon-bookmark release" data-release="${key.name}">
							${key.name}</span>
							#{list productContent.get(key), as:'value'}
							<ul>
								<li title="${value.created}">
									<span class="glyphicon glyphicon-road sprint" data-sprint="${value.id}" data-sprintCurID="${value_index}"> Sprint ${value_index}</span>
								</li>
							</ul>
							#{/list}
						</li>
						#{/list}
						
					</ul>
				</div>
				#{/if}
				<!-- No product selected -->			
				#{elseif session.productName}					
					<div class="alert alert-danger">Aucune release n'a été trouvée.</div>
					#{if session.isNotPO == 'disabled' }
					<div class="alert alert-info">Demandez au Product Owner d'en ajouter</div>
					#{/if}
					#{else}
					<ul class="nav nav-sidebar">
						<li class="${session.isNotPO}">
							<a id="version-add" class="glyphicon glyphicon-bookmark" href="@{Version.add}">
								Ajouter une release
							</a>
						</li>						
					</ul>
					#{/else}
				#{/elseif}
			</div><!-- End of tree tab -->
		</div><!-- End of the tab-content -->
		#{if flash.message}
		<!-- Flash messages -->
		#{ifnot flash.messageWindow}
		<div id="message-flash"
			class="flash ${flash.messageStyle} #{ifnot flash.messageClosable}auto-hide #{/ifnot}">
			#{if flash.messageClosable} <a href="#" class="flash-close">x</a>
			#{/if} ${flash.message}
		</div>
		#{/ifnot} #{/if}
	</div><!-- End of the navigation column -->
	<!-- Display of current Product / Release / Sprint -->
	<div class="col-sm-9 col-md-10 main">
		<ol class="breadcrumb">
			#{if session.productName}
			<li><a href="#">${session.productName}</a></li> #{/if}
			<li><a class="scrumch-curRelease" href="#">${session.releaseName}</a></li>
			<li><a class="scrumch-curSprint" href="#">${session.sprintName}</a></li>
		</ol>
		#{doLayout /}
	</div><!-- End of the scrum workspace -->
</div>
