#{extends 'main.html' /}
#{set title:'My dashboard' /}
#{stylesheet 'dashboard.css' /} 
#{script 'jquery-ui.min.js' /} 
#{stylesheet 'sticker.css' /}
#{stylesheet 'tree.css' /} 
#{script 'tree.js' /}
#{script 'dashboard.js' /}


<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<div id="navigation" class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-tabs" id="tabs">
			<li class="active"><a href="#menu" data-toggle="tab">Menu</a></li>
			<li><a title="Consulter l'arbre produit" href="#tree" data-toggle="tab">Produit</a></li>
		</ul>
<!-- 		<nav class="navbar navbar-default" role="navigation"> -->
<!-- <!-- 		    Brand and toggle get grouped for better mobile display -->
<!--     		<div class="container-fluid"> -->
<!--     			<div class="navbar-header"> -->
<!--       				<button id="sub-menu-display" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".tab-content"> -->
<!--         				<span class="sr-only">Toggle navigation</span> -->
<!--         				<span class="icon-bar"></span> -->
<!--         				<span class="icon-bar"></span> -->
<!--     	    			<span class="icon-bar"></span> -->
<!-- 	      			</button> -->
<!--       				<ul class="nav nav-tabs" id="tabs"> -->
<!-- 						<li class="active"><a href="#menu" data-toggle="tab">Menu</a></li> -->
<!-- 						<li><a title="Consulter l'arbre produit" href="#tree" data-toggle="tab">Produit</a></li> -->
<!-- 					</ul> -->
<!--     			</div> -->
<!--     		</div> -->
<!--     	</nav> -->
		<div class="tab-content">
			<div class="tab-pane active" id="menu">
				<ul class="nav nav-sidebar">
					<li><a class="glyphicon glyphicon-th"
						href="@{Sprint.progression}"> Tableau des taches</a></li>
					<li class="${controllers.AccessRules.cssAccessPO()}"><a id="requirement-add"
						class="glyphicon glyphicon-paperclip" href="@{Requirement.add}">
							Ajouter des exigences </a></li>
					<li class="${controllers.AccessRules.cssAccessDevOrPO()}"><a id="task-add" class="active glyphicon glyphicon-pushpin" href="@{Task.add}">
							Ajouter une tache</a></li>
					<li class="${controllers.AccessRules.cssAccessPO()}"><a id="version-add" class="glyphicon glyphicon-bookmark" href="@{Version.add}">
							Ajouter une release</a></li>
					<li class="${controllers.AccessRules.cssAccessDev()}"><a id="requirement-order" class="glyphicon glyphicon-sort"
						href="@{Requirement.order}"> Changer la priorité des exigences</a>
					</li>
					<li class="${controllers.AccessRules.cssAccessDevOrPO()}"><a class="glyphicon glyphicon-map-marker" href="@{Requirement.assign}">
							Associer une exigence à ce sprint</a></li>
					<li><a class="glyphicon glyphicon-pencil" href=""> Ecrire
							un rapport</a></li>
					<li><a class="glyphicon glyphicon-eye-open" href="#">
							Consulter rapport</a></li>
					<li><a class="glyphicon glyphicon-stats" href="@{Document.chart}">
							Statistiques</a></li>
				</ul>
			</div><!-- End of menu tab -->
			<div class="tab-pane " id="tree">
				#{if productContent}
				<div class="tree hiddable">
					<ul>
						#{list productContent.keySet(), as:'key'}
						<li><span class="glyphicon glyphicon-bookmark release" data-release="${key.name}">
							${key.name}</span>
							#{list productContent.get(key), as:'value'}
							<ul>
								<li title="${value.created}">
									<span class="glyphicon glyphicon-road sprint" data-sprint="${value.id}" data-sprintCurID="${value_index}"> Sprint ${value_index}</span>
								</li>
							</ul>
							#{/list}
						</li>
						#{/list}
						
					</ul>
				</div>
				#{/if}				
				#{elseif session.productName}					
					<div class="alert alert-danger">Aucune release n'a été trouvée.</div>
					#{if session.isNotPO == 'disabled' }
					<div class="alert alert-info">Demandez au Product Owner d'en ajouter</div>
					#{/if}
					#{else}
					<ul class="nav nav-sidebar">
						<li class="${session.isNotPO}">
							<a id="version-add" class="glyphicon glyphicon-bookmark" href="@{Version.add}">
								Ajouter une release
							</a>
						</li>						
					</ul>
					#{/else}
				#{/elseif}
			</div><!-- End of tree tab -->
		</div><!-- End of the tab-content -->
		#{if flash.message}
		<!-- Flash messages -->
		#{ifnot flash.messageWindow}
		<div id="message-flash"
			class="flash ${flash.messageStyle} #{ifnot flash.messageClosable}auto-hide #{/ifnot}">
			#{if flash.messageClosable} <a href="#" class="flash-close">x</a>
			#{/if} ${flash.message}
		</div>
		#{/ifnot} #{/if}
	</div><!-- End of the navigation column -->
	<div class="col-sm-9 col-md-10 main">
		<ol class="breadcrumb">
			#{if session.productName}
			<li><a href="#">${session.productName}</a></li> #{/if}
			<li><a class="scrumch-curRelease" href="#">${session.releaseName}</a></li>
			<li><a class="scrumch-curSprint" href="#">${session.sprintName}</a></li>
		</ol>
		#{doLayout /}
	</div><!-- End of the scrum workspace -->
</div>
