<!DOCTYPE html>
<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="@{'/public/javascripts/bootstrap.min.js'}"
		type="text/javascript" charset="${_response_encoding}"></script>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.min.css'}">
	<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/redmond/jquery-ui-1.9.2.custom.min.css'}">
	#{get 'moreCSS' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
<!-- #{get 'moreScripts' /} -->
</head>
<body>		
    #{if flash.message}
        <!-- Flash messages -->
        #{if flash.messageWindow}    		
		<div id="message-flash" 
			 class="flash window ${flash.messageStyle} #{ifnot flash.messageClosable}auto-hide #{/ifnot}">
			 #{if flash.messageClosable}
			 <a href="#" class="flash-close">x</a>
			 #{/if}
			 ${flash.message}				 
		</div>
		#{/if} 			
    #{/if}
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Scrumch</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">            
            #{if session.username}
            <li><a>Welcome ${session.username} ! </a></li>
            <li><a href="@{Sprint.progression}">Dashboard</a></li>            
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produits<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li class="dropdown-header">Mes trois derniers produits</li>
                  	#{list products, as:'p'}
					<li><a id="change-product-${p_index}" 
							href="@{Product.setCurrentProduct(p.id)}">${p.name}</a></li>
			    	#{/list}
                    <li class="divider"></li>
                    <li class="dropdown-header">Gérer mes produits</li>                    
                    <li><a id="new-product" href="@{Product.create}">Créer un nouveau produit</a></li>
                    <li><a href="@{Product.show()}">Voir tous mes produits</a></li>
                  </ul>
             </li>
             <li class="dropdown">
             	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Communauté<b class="caret"></b></a>
             	<ul class="dropdown-menu">
             	    <li class="dropdown-header">Mon compte</li>                    
             		<li>#{linkedin.button label:'Lier mon compte à LinkedIn' /}<li>
             		<li class="dropdown-header">Mon équipe</li>                    
             		<li><a href="@{RSSFlux.serialize()}">Abonnement RSS</a></li>
             	</ul>
             </li>
             <li><a href="@{Secure.logout()}" id="logout">Log out</a></li>
            #{/if}
          </ul>          
        </div><!--/.nav-collapse -->
      </div>
    </div>    
	#{doLayout /}	
	#{script 'flash.js' /}
</body>
</html>
